name: SL Build

on:
  push:
    branches:
      - main
    tags:
      - sl-*
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-fedora:
    uses: ./.github/workflows/fedora-build.yml
  build-posix:
    uses: ./.github/workflows/posix-build.yml
  build-ubuntu:
    uses: ./.github/workflows/ubuntu-build.yml
  build-windows:
    uses: ./.github/workflows/win-build.yml
  build-pages:
    uses: ./.github/workflows/site.yml

  release:
    name: Release
    needs: [build-fedora, build-posix, build-ubuntu, build-windows]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/sl-')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        id: download-extension
        uses: actions/download-artifact@v4

      - name: List Files
        run: ls -R ${{ steps.download-extension.outputs.download-path }}

      - uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ contains(github.ref, 'rc') }}
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            ${{ steps.download-extension.outputs.download-path }}/sl-*/sl-*.exe
            ${{ steps.download-extension.outputs.download-path }}/sl_*_amd64.deb/sl_*_amd64.deb
            ${{ steps.download-extension.outputs.download-path }}/sl_*_arm64.deb/sl_*_arm64.deb
