name: Fedora Build SL

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache Cargo Registry
        uses: actions/cache@v4
        with:
          path: ~/.cargo/registry
          key: ubuntu-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Build and Test
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/fedora/devcontainer.json
          runCmd: |
            mkdir ~/rpkg-build
            rpkg install --outdir ~/rpkg-build
            ~/rpkg-build/sl*/BUILDROOT/usr/bin/sl -h
            ~/rpkg-build/sl*/BUILDROOT/usr/bin/sl -V
